<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap 实例 - 上下文类</title>
    <h1 style="text-align: center">API-Report</h1>

    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<p><span>Total: {{all}}</span></p>
<p><span>Success: {{success}}</span></p>
<p><span>Failure: {{fail}} </span></p>
<p><span>Avg_Time: {{avgtime}} </span><span>   Max_time: {{maxtime}} </span><span>   Min_Time: {{mintime}} </span></p>

<table class="table">

    <caption>FailMessage List</caption>
    <thead>
    <tr>
        <th>filename</th>
        <th>casename</th>
        <th>request</th>
        <th>response</th>
        <th>result</th>
        <th>time</th>
        <th>message</th>
    </tr>
    </thead>
    <tbody>
    <!--<tr class="active">-->
        <!--<td>1</td>-->
        <!--<td>23/11/2013</td>-->
        <!--<td>ing</td>-->
    <!--</tr>-->
    <!--<tr class="success">-->
        <!--<td>2</td>-->
        <!--<td>10/11/2013</td>-->
        <!--<td>om</td>-->
    <!--</tr>-->
    <!--<tr class="warning">-->
        <!--<td>产品3</td>-->
        <!--<td>20/10/2013</td>-->
        <!--<td>待确认</td>-->
    <!--</tr>-->
    {% for m in all_message%}
        {% if m.result %}
    <tr class="success">
        <td>{{ m.filename }}</td>
        <td>{{ m.casename }}</td>
        <td>{{ m.request }}</td>
        <td>{{ m.response }}</td>
        <td>{{ m.result }}</td>
        <td>{{ m.time }}</td>
        <td>{{ m.message }}</td>
    </tr>
        {% else %}
    <tr class="danger">
        <td>{{ m.filename }}</td>
        <td>{{ m.casename }}</td>
        <td>{{ m.request }}</td>
        <td>{{ m.response }}</td>
        <td>{{ m.result }}</td>
        <td>{{ m.time }}</td>
        <td>{{ m.message }}</td>
    </tr>
        {% endif %}
    {% endfor %}

    </tbody>
</table>
</body>
</html>